
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* font-family: Arial, sans-serif; */
}
.app{
    padding-bottom: 150px;
    background: linear-gradient(to right,#f663b6,#f8d063);
}
nav{
   background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 35px;
    font-family: Georgia, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
  }
  label>i{
    color: black;
  }
 
  .menu {
    list-style: none;
    margin: auto;
    display: flex;
  }
  .menu li{
    margin: 0px 30px;
    line-height: 30px;
  }
  .checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .icons i{
        font-size: 25px;
        padding: 8px;
   }

.top-container{
    background-image: url('./images/img1.jpg');
    height: 706px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}
.text{
    width: 35%;
    background-color: rgba(241, 105, 105, 0.5);
    color: white;
    margin-left: 5%;
    padding: 40px;
    padding-right: 100px;
}
.text h3{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}
.text p{
    font-size: 20px;
    font-family: 'Helvetica', Arial, sans-serif;
}
.bottom-container {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
.bottom-container>h3{
    font-size: 50px;
    letter-spacing: 5px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}
.cards div{
    height: 400px;
    width: 23%;
    background-color: white;
    border-radius:0px 70px 0px 70px ;
    padding: 20px;
    color: black;
}
.cards>div>img{
    width: 100%;
    border-radius:0px 65px 0px 0px ;
    height: 70%;
    object-fit: cover;
    margin-bottom: 18px;
}
.cards b{
    font-size: 25px;
}
.cards p{
    font-size: 18px;
}
.bottom-container button{
    margin-top: 90px;
    padding: 19px 70px;
    font-size: 22px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
}
#phone{
    transform: rotate(90deg);
}

/* For screens 1024px wide and above (landscape tablets) */

@media screen and (max-width: 1024px) {
    .app{
        padding-bottom: 130px;
    }
    .menu li{
        margin: 0px 14px;
    }
    .icons i{
        font-size: 20px;
        /* margin-right: 5px; */
        padding: 0px;
    }
    .top-container{
        height: 550px;
    }
    .text{
        width: 35%;
        padding: 30px;
        padding-right: 70px;
    }
    .text h3{
        font-size: 30px;
    }
    .text p{
        font-size: 16px;
        font-family: 'Helvetica', Arial, sans-serif;
    }
    .bottom-container>h3{
        font-size: 35px;
        letter-spacing: 4px;
    }
    .cards{
        width: 90%;
    }
    .cards div{
        height: 300px;
        width: 23%;
        border-radius:0px 55px 0px 55px ;
        padding: 15px;
    }
    .cards>div>img{
        width: 100%;
        border-radius:0px 50px 0px 0px ;
        height: 60%;
        margin-bottom: 15px;
    }
    .cards b{
        font-size: 22px;
    }
    .cards p{
        font-size: 16px;
    }
    .bottom-container button{
        margin-top: 70px;
        padding: 15px 60px;
        font-size: 20px;
        border-radius: 50px;
        font-weight: 600;
    }
}

/* For screens 768px wide and above (portrait tablets) */

@media screen and (max-width: 768px) {
    .app{
        padding-bottom: 80px;
    }
    .checkbtn{
        display: block;
    }
    .menu{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menu li{
        /* display: block; */
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .top-container{
        height: 450px;
    }
    .text{
        width: 45%;
        padding: 30px;
        padding-right: 70px;
    }
    .text h3{
        font-size: 30px;
    }
    .text p{
        font-size: 16px;
        font-family: 'Helvetica', Arial, sans-serif;
    }
    .bottom-container>h3{
        font-size: 30px;
        letter-spacing: 2.5px;
    }
    .cards{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .cards div{
        height: 270px;
        width: 80%;
        border-radius:0px 50px 0px 50px ;
        padding: 12px;
        margin-top: 25px;
    }
    .cards>div>img{
        width: 100%;
        border-radius:0px 45px 0px 0px ;
        height: 60%;
        margin-bottom: 10px;
    }
    .cards b{
        font-size: 19px;
    }
    .cards p{
        font-size: 14px;
    }
    .bottom-container button{
        margin-top: 50px;
        padding: 14px 50px;
        font-size: 18px;
    }
}

/* For screens up to 425px wide (small smartphones) */

@media screen and (max-width: 450px) {
    .app{
        padding-bottom: 50px;
    }

    .top-container{
        height: 400px;
    }
    .icons i{
        font-size: 20px;
        padding: 5px;
    }
    .text{
        width: 80%;
        padding: 15px;
        padding-right: 20px;
    }
    .text h3{
        font-size: 24px;
    }
    .text p{
        font-size: 14px;
        font-family: 'Helvetica', Arial, sans-serif;
    }
    .bottom-container>h3{
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    .cards{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .cards div{
        height: 270px;
        width: 80%;
        border-radius:0px 50px 0px 50px ;
        padding: 12px;
        margin-top: 25px;
    }
    .cards>div>img{
        width: 100%;
        border-radius:0px 45px 0px 0px ;
        height: 60%;
        margin-bottom: 10px;
    }
    .cards b{
        font-size: 19px;
    }
    .cards p{
        font-size: 14px;
    }
    .bottom-container button{
        margin-top: 50px;
        padding: 14px 50px;
        font-size: 16px;
    }
}